body {
    text-align: center;
    background-color: bisque;
}
.game {
    border: black 3px solid;
    width: 50vw;
}
h1 {
    padding-top: 30px;
}
#submit {
    margin: 10px;
}
#reset {
    margin: 10px;
}