body {
    text-align: center;
    background-color: bisque;
}
.game {
    border: black 3px solid;
    width: 50vw;
    margin: auto;
}
h1 {
    padding-top: 30px;
}
#submit {
    margin: 10px;
}
#reset {
    margin: 10px;
}
#submit:hover{
    background-color: green;
    color: lightgreen
}
#reset:hover{
    background-color: red;
    color: lightcoral
}